.test-reports-container {
    background-color: white;
    width:100%;
    height:85vh;
    border-radius: 10px;
    padding:1rem;
    display: flex;
}

.test-reports-explorer-container {
    background-color: white;
    height:570px;
    width:25%;
    padding:0.5rem;
    .test-reports-explorer {
        background-color: rgb(255, 220, 220);
        height:500px;
        overflow-x: auto;
        overflow-y: auto;
    }

}

.treeview-category {
    font-size: 0.92rem;
    &:hover {
        cursor: pointer;
        background-color: rgb(255, 155, 155);
    }
}
.test-reports-content-container {
    background-color: white;
    width:100%;
    padding:0.5rem;
    height:570px;
}

.test-reports-content {
    margin-top:1rem;
    display: flex;
    flex-direction: row;
}

.test-reports-active {
    border-bottom: 1px solid grey;
}

.active-report {
    background-color: rgb(241, 101, 101);
    
}

.parameters-list-container {
    
    overflow-y: auto;
    overflow-x: auto;
    height:280px;
}

.parameters-container {
    background-color: rgb(255, 255, 255);
    width:100%;
    padding:0.25rem;
    box-shadow: 0 0 2px 2px rgb(184, 183, 183);
    border-radius: 10px;
    height:300px;
}

.sub-title {
    border-bottom : 1px solid rgb(226, 226, 226);
}

.parameter-item {
    background-color: inherit;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    .parameter-item-param {
        width:50%;
        background-color: inherit;
    }
    .parameter-item-value {
        margin-left:0.5rem;
    }
}

.test-report-overview-container {
    background-color: inherit;
    height:150px;
    margin-top: 1rem; 
}

.left-side {
    background-color: white;
    display: flex;
    flex-direction: column;
    width:35%;
    height:460px;
}

.right-side {
    background-color: white;
    width: 100%;
    margin-lefT:1.5rem;
}

.green {
    background-color: greenyellow;
}

.red {
    background-color: rgb(235, 82, 82);
}