.test-reports-explorer-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.set-global-param-btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
}
.set-global-param-btn:hover {
  background-color: #005e00;
}

.set-active-test-btn {
  background-color: #f1706b;
  color: black;
  border: none;
  border-radius: 20px;
}
.set-active-test-btn:hover {
  background-color: #b84c49;
}

.test-container {
  width: 80%;
  padding: 0.5rem;
}
.test-container .test-active {
  border-bottom: 1px solid black;
  width: 100%;
}
.test-container .test-active-info {
  margin-top: 1rem;
}

.path-item {
  height: 30px;
  padding: 0.25rem;
}
.path-item:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.active-path-item {
  background-color: #beeeee;
}

.active-test-container {
  background-color: white;
  width: 100%;
}

.active-test-header {
  border-bottom: 1px solid black;
}

.path-header {
  text-decoration: underline;
}
.path-header:hover {
  cursor: pointer;
  background-color: #f8d6d6;
}

.hide {
  display: none;
}

.show {
  display: block;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
  margin-bottom: 10px;
}
ul li {
  margin-left: 1rem;
  height: 20px;
}
ul li:hover {
  cursor: pointer;
  background-color: #f7dcc3;
}

.active-test-contents {
  width: 100%;
  background-color: white;
  word-wrap: break-word;
}

.file-contents-textarea {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: 50vh;
}

.test-ooutput-textarea {
  width: 100%;
  height: 20vh;
}